{% extends 'base.html.twig' %}

{% block title %}Hello TelecomunicacionController!
{% endblock %}

{% block content %}
	<div class="example-wrapper">
		<button type="button" onclick="dtone()">enviar</button>
	</div>
{% endblock %}


{% block javascripts %}
{{ parent() }}
	<script>

    function dtone(){

        $.ajax({
            method: "POST",
            data: {},
            url: 'dtone/ejec',
            dataType: 'json',
            success: function (data) {
                console.log('ok')
            },

            error: function(err) {
                console.log('err', err)
            }
        });

    }

    </script>
{% endblock %}
