{% extends 'utils/modal_form.html.twig' %}
{% block modalbody %}
	<form method="post" class="text-left" id="form_add_row">
		<div class="form-group input-group input-group-sm d-block">
			<label for="nombre" class="required">Nombre</label>
			<input type="text" autocomplete="off" name="nombre" required="required" class="form-control w-100 form-control">
		</div>
		<input id="id" name="id" hidden>
	</form>
{% endblock %}

{% block btnzone %}
	<button type="button" onclick="submitCreateNewRow()" class="my-0 btn btn-secondary">Aceptar</button>
{% endblock %}
