{% extends 'utils/modal_form.html.twig' %}
{% block modalbody %}
	<form method="post" class="text-left" id="form_confirm_recarga" >
		<div class="form-group input-group input-group-sm d-block">
			<label for="numero_confirmacion" class="required">Número de Confirmación</label>
			<input type="text" id="numero_confirmacion" name="numero_confirmacion" required="required" class="form-control w-100 form-control">
		</div>
	</form>
{% endblock %}


{% block btnzone %}
	<button type="submit" form="form_confirm_recarga" class="my-0 btn btn-secondary">Aceptar</button>
{% endblock %}
