<div class="modal fade" id="confirm__modal__database_test" data-backdrop="static" data-keyboard="false"
     tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <h5 class="modal-title text-light" id="confirm__modal__database_test__title"><i class="fa fa-database text-light"></i>
                    Restaurar backup en base de datos de prueba...</h5>
                <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="confirm__modal__database_test__body">
                ¿ Seguro que desea restaurar el backup en la base de datos de prueba ?
            </div>
            <form id="form__confirm__modal__database_test" method="post">
                <input type="hidden" name="_method" value="UPDATE">
                <input id="_token__confirm__modal__database_test" type="hidden" name="_token" value="123...">
                <input name="id" id="page__confirm__modal__database_test" hidden>
            </form>
            <div class="modal-footer">
                <button type="button" class="my-0 mr-auto btn btn-outline-secondary" data-dismiss="modal">Cancelar
                </button>
                <button type="button" class="my-0 btn btn-danger" id="confirm__modal__database_test__btn_ok"><i
                            class="fa fa-database"></i>Aceptar
                </button>
            </div>
        </div>
    </div>
</div>